.o {
    border: 0;
    display: inline-block;
    vertical-align: top;
}
.cm {
    background: #eceff5;
}
.cl {
    border: 1px solid #8d949e;
    height: 43px
;
    margin: 
 4px
;
    width: 43px
;
}
.cn {
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    padding: 0;
}
.cp {
    border-color: #90949c;
    box-sizing: border-box;
    width: 100%;
}
.cp.cq {
    margin-top: 6px;}
.cr {border: 1px 
    solid #8d949e;
    border-radius: 72px;
    height: 45px;
    padding: 4px 20px 0 20px;
    resize: none;}
p{ font-size: 40px;}
img[Attributes ] {
    width: 12px;
    aspect-ratio: auto 12 / 12;
    height: 12px;
}
hoja de estilo del agente de usuario
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;}