body{background-color: rgb(247, 188, 80);margin-top: 10px;margin-left: 30px;margin-right: 30px;
margin-bottom: 10px;}
.o {
    border: 0;
    display: inline-block;
    vertical-align: top;
}
.g{margin-left: 350px;margin-right: 20px;}
._52ja_cx_cz_da{font-size: 24px; }
.b ._4g33 {
    border: 2px;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
}

hoja_de_estilo_del_agente_de_usuario
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
body, tr, input, textarea, .e {
    font-size: medium;
}
body, tr, input, textarea, button {
    font-family: sans-serif;
}

body {
    text-align: left;
    direction: ltr;
}
.cm {
    background: #eceff5;
}
.cl {
    border: 1px solid #8d949e;
    height: 43px
;
    margin: 
 4px
;
    width: 43px
;
}
.cn {
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    padding: 0;
}
.cp {
    border-color: #90949c;
    box-sizing: border-box;
    width: 100%;
}
.cp.cq {
    margin-top: 6px;}
.cr {border: 1px 
    solid #8d949e;
    border-radius: 72px;
    height: 45px;
    padding: 4px 20px 0 20px;
    resize: none;}
p{ font-size: 40px;}
img[Attributes ] {
    width: 12px;
    aspect-ratio: auto 12 / 12;
    height: 12px;
}
hoja de estilo del agente de usuario
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;}
    .dz {
        margin: 0 6
    px
     6
    px
    ;
        padding: 6
    px
    ;
    }
    .dl {
        border-color: #ccced3 #c4c6ca #b4b6ba;
        border-style: solid;
        border-width: 1px;}
    .dk {
        background: #fff;
    }
    hoja de estilo del agente de usuario
    div {
        display: block;
    }
    .dw {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .dy {
        font-size: small;
    }
    body, tr, input, textarea, .f {
        font-size: medium;
    }
    
    body, tr, input, textarea, button {
        font-family: sans-serif;
    }
    body {
        text-align: left;
        direction: ltr;
    }
    .dz {
        margin: 0 6
    px
     6
    px
    ;
        padding: 6
    px
    ;
    }
    .dl {
        border-color: #ccced3 #c4c6ca #b4b6ba;
        border-style: solid;
        border-width: 1
    px
    ;
    }
    .dk {
        background: #fff;
    }
    hoja de estilo del agente de usuario
    div {
        display: block;
    }
    .dw {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .dy {
        font-size: small;
    }
    body, tr, input, textarea, .f {
        font-size: medium;
    }
    body, tr, input, textarea, button {
        font-family: sans-serif;
    }
    body {
        text-align: left;
        direction: ltr;
    }