.o {
    border: 0;
    display: inline-block;
    vertical-align: top;
}
.cm {
    background: #eceff5;
}
.cl {
    border: 1px solid #8d949e;
    height: 43px
;
    margin: 
 4px
;
    width: 43px
;
}